<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link rel="stylesheet" href="index.css" />
    <title>Vue.js</title>
  </head>
  <body>
    <div id="app">
      {{ message }}
    </div>
  </br>
    <div id="app-2">
      <span v-bind:title="message">
        Passez votre souris sur moi pendant quelques secondes pour voir mon
        titre lié dynamiquement !
      </span>
    </div>
  </br>
    <div id="app-3">
      <p v-if="seen">Maintenant vous me voyez</p>
    </div>
  </br>
    <div id="app-4">
      <ol>
        <li v-for="todo in todos">
          {{ todo.text }}
        </li>
      </ol>
    </div>
  </br>
    <div id="app-5">
      <p>{{ message }}</p>
      <button v-on:click="reverseMessage">Message retourné</button>
    </div>
  </br>
    <div id="app-6">
      <p>{{ message }}</p>
      <input v-model="message" />
    </div>
  </br>
    <div id="app-7">
      <ol>
        <!--
            Maintenant nous fournissons à chaque todo-item l'objet todo
            qu'il représente de manière à ce que son contenu puisse être dynamique.
            Nous avons également besoin de fournir à chaque composant une « clé »,
            mais nous expliquerons cela plus tard.
          -->
        <todo-item
          v-for="item in groceryList"
          v-bind:todo="item"
          v-bind:key="item.id"
        ></todo-item>
      </ol>
    </div>
  </br>
    <div id="example">
      {{ a }}
    </div>
  </br>
    <div id="app-8">
      <span>Message: {{ msg }}</span>
      <span v-once>Ceci ne changera jamais : {{ msg }}</span>
    </div>
  </br>
    <div id="app-9">
      <p>En utilisant les doubles moustaches : {{ rawHtml }}</p>
      <p>En utilisant la directive `v-html` : <span v-html="rawHtml"></span></p>
    </div>
  </br>
    <div id="example2">
      <p>Message original : "{{ message }}"</p>
      <p>Message inversé calculé : "{{ reversedMessage }}"</p>
      <p>Message inversé : "{{ reverseMessage() }}"</p>
    </div>
  </br>
    <div id="demo">{{ fullName }}</div>
  </br>
    <div id="demo2">{{ fullName }}</div>
  </br>
    <div id="watch-example">
      <p>
        Posez votre question (réponse par Oui ou Non) :
        <input v-model="question" />
      </p>
      <p>{{ answer }}</p>
    </div>
  </br>
    <div id="example-1">
      <button v-on:click="counter += 1">Add 1</button>
      <p>Le bouton ci-dessus a été cliqué {{ counter }} fois.</p>
    </div>
  </br>
    <div id="example-2">
      <!-- `greet` est le nom de la méthode définie ci-dessous -->
      <button v-on:click="greet">Greet</button>
    </div>
  </br>
    <div id="example-3">
      <button v-on:click="say('salut')">Dire salut</button>
      <button v-on:click="say('quoi')">Dire quoi</button>
    </div>
  </br>
    <div id="components-demo">
      <button-counter></button-counter>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/axios@0.12.0/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/lodash@4.13.1/lodash.min.js"></script>
    <script src="index.js"></script>
  </body>
</html>
